body {
    font-family: Helvetica;
    margin: 30;
    padding: 10;
    background-color:#3378a3;
    text-align: left;
}
h1 {
    color:#0d2839;
    font-family: Helvetica;
}

highlited{
    color:#41ff7d;
}

p {
    color:#0d2839;
    font-family: Helvetica;
}

a{
    color:#671111;
}

footer {

    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: white;
    display: block;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 20px;
}